.participant-card {
    margin: 10px 0;
    padding: 12px;
    border-left: 3px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    &.winner {
        border-color: #006503;
    }
    &.loser {
        border-color: #780800;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: px;
}

.header img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--mat-sys-secondary); 
}

.header h3 {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    flex-grow: 1;
}

.role {
    color: #666;
}

.stats {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
    align-items: center;
}


.k {
    color: #4caf50;
}

.d {
    color: #f44336;
}

.a {
    color: #2196f3;
}

.spells,
.runes,
.items {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.tag img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border-bottom: 2px solid var(--mat-sys-secondary); 
    cursor: default;
}