.match-details-box {

    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal columns */
    gap: 2px;

    & > .winner {
        grid-column: 1;
    }

    & > .loser {
        grid-column: 2;
    }
}